.flex-container {
    flex-direction: row;
    flex: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

body {
    width: 100% !important;
}

nav, article, aside, footer, summary {
    flex: 1;
}

html, .header {
    font-size: 3vw;
}

.col-14 .flex-container {
    width: 100% !important;
}